* {
    box-sizing: border-box;
}

body, html {
    min-height: 100vh;
    margin: 0;
}

img {
    max-width: 100%;
}

.pg-padding {
    padding: 1vh;
}

.container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}
.flex-main {
    display: flex;
    height: 98vh;
}
.tat-library {
    background-color: darkslategray;
    color: white;
    flex-grow: 1;
}
.avatar {
    background-color: lightblue;
    flex-grow: 4;
}
