* {
    box-sizing: border-box;
}

body, html {
    min-height: 100vh;
    margin: 0;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

img {
    max-width: 100%;
}

.pg-padding {
    padding: 1vh;
}

.container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}
.flex-main {
    display: flex;
    height: 98vh;
}
.tat-library {
    background-color: darkslategray;
    color: white;
    flex-grow: 1;
}
.grid-parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 1%;
}

.grid-child {
    background-color: slategray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;

}
.avatar {
    background-color: lightblue;
    flex-grow: 4;
    display: flex;
    justify-content: center;
}
